## Data Science Internship @ CodesonBytes

Phase 2, Task 4- Train a simple Linear Regressing model on the given dataset and predict the output.

In [1]:
#Importing the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
#Loading the Dataset

# URL of the HTML page
trainset_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRTK2NvcndgPX41Czu6Ft2Ho_nE-z50BgTqdzwFW0rsJ2nvyNLe2DoIg1COzUbgw80oaRBjfy5-WtFk/pubhtml"

testset_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRyvZ7lknwiSghK9aen1SaTEYoN3JS40rrGLpcyrsVZy1tB2T4gn6Y3-cdzPUFCPMmmqREWefW3kl4_/pubhtml"

# Send a GET request to the URL
train_response_n = requests.get(trainset_url)
test_response_n = requests.get(testset_url)

# Parse the HTML content
train_s = BeautifulSoup(train_response_n.text, 'html.parser')
test_s = BeautifulSoup(test_response_n.text, 'html.parser')

# Find the table in the HTML
train_tab = train_s.find('table')
test_tab = test_s.find('table')

# Read the HTML table into a DataFrame
train_dataset = pd.read_html(str(train_tab))[0]
test_dataset = pd.read_html(str(test_tab))[0]

In [3]:
#Displaying the first few rows of the train data
train_dataset.head()

   Unnamed: 0 Unnamed: 1   Unnamed: 2
0           1          x            y
1           2         24  21.54945196
2           3         50  47.46446305
3           4         15  17.21865634
4           5         38  36.58639803

In [4]:
# Removing the first column from the train data:
remove_first__column_train = train_dataset.iloc[:, 1:]
remove_first__column_train.head()

  Unnamed: 1   Unnamed: 2
0          x            y
1         24  21.54945196
2         50  47.46446305
3         15  17.21865634
4         38  36.58639803

In [5]:
#Displaying the first few rows of the test data
test_dataset.head()

   Unnamed: 0 Unnamed: 1   Unnamed: 2
0           1          x            y
1           2         77  79.77515201
2           3         21  23.17727887
3           4         22  25.60926156
4           5         20  17.85738813

In [6]:
# Removing the first column from the test data:
remove_first__column_test = test_dataset.iloc[:, 1:]
remove_first__column_test.head()

  Unnamed: 1   Unnamed: 2
0          x            y
1         77  79.77515201
2         21  23.17727887
3         22  25.60926156
4         20  17.85738813

In [7]:
#Save the DataFrame to a CSV file
remove_first__column_train.to_csv('traindata.csv', index=False, header=False)
remove_first__column_test.to_csv('testdata.csv', index=False, header=False)

In [11]:
#Loading the CSV data files
train_dn = pd.read_csv("traindata.csv")
test_dn = pd.read_csv("testdata.csv")

In [12]:
# Displaying the first five columns of the train data:
train_dn.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [13]:
# Checking the shape of the train data:
train_dn.shape

(700, 2)

In [14]:
# Checking the shape of the test data:
test_dn.shape

(300, 2)

In [15]:
# Checking for null values in the train data:
train_dn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [16]:
# Removing the null values from the train dataset:
train_dn = train_dn.dropna(subset=['y'])

In [17]:
# Checking the data after removing the null values:
train_dn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

In [18]:
# Checking for null values in the test data:
test_dn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       300 non-null    int64
 1   y       300 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 4.8 KB

Extracting the features (x) and target variable (y) from both datasets.

In [19]:
x_train_dn = train_dn.drop('y', axis=1)
y_train_dn = train_dn['y']

x_test_dn = test_dn.drop('y', axis=1)
y_test_dn = test_dn['y']

Training a Linear Regression Model

In [21]:
# Create a linear regression model
model_lr = LinearRegression()

# Train the model
model_lr.fit(x_train_dn, y_train_dn)

LinearRegression()

In [22]:
# Making predictions on the test data
predictions_lr = model_lr.predict(x_test_dn)

Evaluating the Model

In [24]:
# Calculate Mean Squared Error
mse_dn = mean_squared_error(y_test_dn, predictions_lr)

# Calculate R-squared
r2_dn = r2_score(y_test_dn, predictions_lr)

print(f"Mean Squared Error: {mse_dn}")
print(f"R-squared: {r2_dn}")

Mean Squared Error: 9.432922192039305
R-squared: 0.9888014444327563

In [27]:
pip install prettytable

Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: wcwidth in /Users/varun/opt/anaconda3/lib/python3.9/site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-3.9.0
Note: you may need to restart the kernel to use updated packages.

In [28]:
# Printing in table format:
from prettytable import PrettyTable

# Create a PrettyTable
table_dn = PrettyTable(["Metric", "Value"])

# Add data to the table
table_dn.add_row(["Mean Squared Error", mse_dn])
table_dn.add_row(["R-squared", r2_dn])

# Print the table
print(table_dn)

+--------------------+--------------------+
|       Metric       |       Value        |
+--------------------+--------------------+
| Mean Squared Error | 9.432922192039305  |
|     R-squared      | 0.9888014444327563 |
+--------------------+--------------------+

Thank You!